
<!doctype html>
<html ng-app>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Travelhackz - travel rewarded beyond your destinations</title>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCMQz_83Fc27KHZDyJWecP6_lMTIkUfRAY&sensor=false&libraries=geometry"></script>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>
  
  <body>
    <%= yield %>

    <!--<div id='infoWindow'></div>-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36250216-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <% if current_user.present? %>
      <script id="IntercomSettingsScriptTag">
        var intercomSettings = {
          app_id: 'jqyg4ao7',
          email: '<%= current_user.email %>',
          created_at: <%= current_user.created_at.to_i %> 
        };
      </script>
      <script>
        (function() {
          var i=function(){i.c(arguments)};i.q=[];
          i.c=function(args){i.q.push(args)};window.Intercom=i;
          function async_load() {
            var s = document.createElement('script');
            s.type = 'text/javascript'; s.async = true;
            s.src = 'https://api.intercom.io/api/js/library.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
          }
          if (window.attachEvent) {
            window.attachEvent('onload', async_load);
          } else {
            window.addEventListener('load', async_load, false);
          }
        })();
      </script>
    <% end %>
  </body>
</html>